button {
  background: none;
  border: none;
  cursor: pointer;

}
button:focus {
  outline: none;
}
#following_section{
  padding: 25px;
/*  height: 150px;  */
  width: 100%;
  margin-left: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#post_form_border .posting-div {
  margin-left: 20px;
  margin-right: 20px;

}
.all_post_border{
  width: 100%;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  margin-bottom: 20px;
}
#post_form_border{
/*  margin-right: 10px;*/
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#input-post{
  height: 80px;  
  width: 100%;
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  outline: none;

}
.go-gray{
  color: rgba(0,0,0,.5);
}
.heart-icon {
  height: 30px;
  margin-right: -35px;
  margin-left: -6px;
  transition: stroke 0.2s ease-in-out;
}

.red-heart .heart-icon {
  stroke: red;
  fill: red;
}
.post_author_button{
  margin-left: -5px;

}
#follow_unfollow{
  }
