{% extends "auctions/layout.html" %}

{% block body %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <h2>Listings Details</h2><hr>
    {% for item in all_listing %} 
    	{% if item.id == item_id %}
	        {% if user.is_authenticated %}       
	            {% if request.user == winner_listing_user and item.listing_title == winner_auction %}
	                <h2>Congratulations! You ({{user}}) won the auction for {{item.listing_title}}</h2>
	            {% endif %}
	        {% endif %}
        
           {% if not item.is_closed %}
                <form action="{% url 'add_watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <input class="btn btn-secondary" type="submit" value="add to watchlist">
                </form>
                <form action="{% url 'user_bid'%}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}"><br>
                    <input class="form-control" autofocus name="place_bid" type="text" placeholder="Place Bid">
                    <input class="btn btn-success" type="submit" value="submit">
                </form><br>
            {% endif %}
      
	     <p>
            <strong>Category: </strong> {{ item.item_category }}<br/>
            <strong>Title: </strong> {{ item.listing_title }}<br/>
            <strong>listing description: </strong> {{ item.listing_description }}<br/>
            <strong>listing bid: </strong>${{ item.listing_bid }}<br/>
            <img src="{{ item.listing_image_url }}" alt="Listing image"><br/>
            

            {% if request.user.is_authenticated %}
                {% if not item.is_closed %}
                    {% for listing_creator in listing_creators %}
                        {% if listing_creator.user == request.user and listing_creator.auction_listing == item %}
                            <form action="{% url 'close_auction' item_id=item.id %}" method="POST">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Close Auction">
                            </form>
                        {% endif %}    
                    {% endfor %}
                {% endif %}
            {% endif %}
            <hr>

            <h3>Comments</h3>
                        

            <form action="{% url 'listing_detail' item.id%}" method='POST'>
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                {% if user.is_authenticated %}
	                <input class="form-control" name="comment" type="text" placeholder="comment">
	                <input class="btn btn-primary" type="submit" value="submit">
	            {% endif %}
        	</form>
        	<br><hr>
        	
        	
        	{% for comment in comments %}
	     <strong>{{ comment.user }}</strong><br/>
	    		 {{ comment.text }}<br/><hr>
        	{% endfor %}
        
        </p>

	    {% endif %}
    {% endfor %}

{% endblock %}
