.sidebar { 
  padding: 80px 35px;
  z-index: 10;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow: auto;
}
.dash {
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  /* overflow: auto; */
}
.dash > h1{
  border-bottom-style: solid;
  width: 13%;   
}
.table-container {
  width: auto;
}
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}
.btn-dark{
  max-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
label{
  white-space: nowrap;
}
h1{
  white-space: nowrap;
}
.pagination-container{
display: flex;
justify-content: center;
  
}
.tableButtons{
  padding-left: 12px;
}

